{% extends 'base.html' %}

{% block title %}サインアップ画面{% endblock %}

{% block content %}
<div class="container" style="padding-top: 70px;">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 d-flex justify-content-center">
            <form method="POST">
                {% csrf_token %}
                <div class="mt-5">
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <table>
                        <tr>
                            <th>名前</th>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <th>メールアドレス</th>
                            <td>{{ form.email }}</td>
                        </tr>
                        <tr>
                            <th>パスワード</th>
                            <td>{{ form.password1 }}</td>
                        </tr>
                        <tr>
                            <th>パスワード（確認用）</th>
                            <td>{{ form.password2 }}</td>
                        </tr>
                    </table>
                    <div class="mt-5">
                        <button type="submit" class="btn btn-primary">サインアップ</button>
                        <a href="{% url 'todo:login' %}" class="btn btn-secondary">ログイン</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>
{% endblock %}
